<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,800,900|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/vendor/font-awesome/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!--(remove-empty-lines-end)-->
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Assets/css/theme.css" />


    <!--(remove-empty-lines-end)-->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Assets/css/skins/default.css" />

    <!-- Theme Custom CSS -->


    <!-- Head Libs -->
    <script src="~/Assets/vendor/modernizr/modernizr.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

    <style>
        body, html {
            height: 100vh;
            background-image: url("../../images/ERC06030.JPG");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }

        .wrapper {
            width: 100%;
            position: absolute;
            top: 0;
            background: rgba(192, 192, 192, 0.4);
        }

        .toggler-icon {
            color: whitesmoke;
        }

        .navbar-toggler:focus {
            box-shadow: none;
        }

        nav a {
            color: whitesmoke;
        }

        nav a:hover {
            color: white;
        }

        .submit-btn {
            width: 110px;
            color: whitesmoke;
            border-color: whitesmoke;
        }

        .submit-btn:hover {
            border-color: white;
            color: white;
        }

        @@media only screen and (max-width: 991px) {
            .wrapper {
                background: rgba(192, 192, 192, 0.7);
            }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg col-lg-10 m-auto p-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/Index">ZEYNErP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">KURUMSAL</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ÜRÜNLER
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">#1</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">İLETİŞİM</a>
                        </li>
                    </ul>
                    <form class="d-flex justify-content-end">
                        @Html.ActionLink("Giriş", "SignIn", "Home", null, new { @class = "me-2 btn submit-btn" })
                        @Html.ActionLink("Kayıt Ol", "SignUp", "Home", null, new { @class = "btn submit-btn" })
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <section class="body-sign">
        <div class="center-sign">
            <div class="panel card-sign">
                @RenderBody()
            </div>
        </div>
    </section>
    <script src="~/Assets/vendor/jquery/jquery.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>