
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Personel Ekle</h2>

        <div class="right-wrapper text-right pr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/panel">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>İnsan Kaynakları</span></li>
                <li><a href="/insan-kaynaklari/personel-listesi"><span>Personel Listesi</span></a></li>
                <li><span>Personel Ekle</span></li>
            </ol>
        </div>
    </header>

    <form class="ecommerce-form action-buttons-fixed" action="#" method="post">
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <div class="thumb-info mb-3">
                                    <img src="~/Assets/img/!logged-user.jpg" class="rounded img-fluid" alt="John Doe">
                                    <div class="thumb-info-edit">
                                        <label for="file-input">
                                            <i class="el el-edit"></i>
                                        </label>
                                        <input id="file-input" type="file" name="imageFile" onchange="this.form.submit()" style="display: none;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Ad</label>
                                        <input id="inputFirstName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Soyad</label>
                                        <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Doğum Yeri</label>
                                        <select data-plugin-selectTwo class="form-control populate">
                                            <option value="1">Adana</option>
                                            <option value="2">Adıyaman</option>
                                            <option value="3">Afyonkarahisar</option>
                                            <option value="4">Ağrı</option>
                                            <option value="5">Amasya</option>
                                            <option value="6">Ankara</option>
                                            <option value="7">Antalya</option>
                                            <option value="8">Artvin</option>
                                            <option value="9">Aydın</option>
                                            <option value="10">Balıkesir</option>
                                            <option value="11">Bilecik</option>
                                            <option value="12">Bingöl</option>
                                            <option value="13">Bitlis</option>
                                            <option value="14">Bolu</option>
                                            <option value="15">Burdur</option>
                                            <option value="16">Bursa</option>
                                            <option value="17">Çanakkale</option>
                                            <option value="18">Çankırı</option>
                                            <option value="19">Çorum</option>
                                            <option value="20">Denizli</option>
                                            <option value="21">Diyarbakır</option>
                                            <option value="22">Edirne</option>
                                            <option value="23">Elazığ</option>
                                            <option value="24">Erzincan</option>
                                            <option value="25">Erzurum</option>
                                            <option value="26">Eskişehir</option>
                                            <option value="27">Gaziantep</option>
                                            <option value="28">Giresun</option>
                                            <option value="29">Gümüşhane</option>
                                            <option value="30">Hakkâri</option>
                                            <option value="31">Hatay</option>
                                            <option value="32">Isparta</option>
                                            <option value="33">Mersin</option>
                                            <option value="34">İstanbul</option>
                                            <option value="35">İzmir</option>
                                            <option value="36">Kars</option>
                                            <option value="37">Kastamonu</option>
                                            <option value="38">Kayseri</option>
                                            <option value="39">Kırklareli</option>
                                            <option value="40">Kırşehir</option>
                                            <option value="41">Kocaeli</option>
                                            <option value="42">Konya</option>
                                            <option value="43">Kütahya</option>
                                            <option value="44">Malatya</option>
                                            <option value="45">Manisa</option>
                                            <option value="46">Kahramanmaraş</option>
                                            <option value="47">Mardin</option>
                                            <option value="48">Muğla</option>
                                            <option value="49">Muş</option>
                                            <option value="50">Nevşehir</option>
                                            <option value="51">Niğde</option>
                                            <option value="52">Ordu</option>
                                            <option value="53">Rize</option>
                                            <option value="54">Sakarya</option>
                                            <option value="55">Samsun</option>
                                            <option value="56">Siirt</option>
                                            <option value="57">Sinop</option>
                                            <option value="58">Sivas</option>
                                            <option value="59">Tekirdağ</option>
                                            <option value="60">Tokat</option>
                                            <option value="61">Trabzon</option>
                                            <option value="62">Tunceli</option>
                                            <option value="63">Şanlıurfa</option>
                                            <option value="64">Uşak</option>
                                            <option value="65">Van</option>
                                            <option value="66">Yozgat</option>
                                            <option value="67">Zonguldak</option>
                                            <option value="68">Aksaray</option>
                                            <option value="69">Bayburt</option>
                                            <option value="70">Karaman</option>
                                            <option value="71">Kırıkkale</option>
                                            <option value="72">Batman</option>
                                            <option value="73">Şırnak</option>
                                            <option value="74">Bartın</option>
                                            <option value="75">Ardahan</option>
                                            <option value="76">Iğdır</option>
                                            <option value="77">Yalova</option>
                                            <option value="78">Karabük</option>
                                            <option value="79">Kilis</option>
                                            <option value="80">Osmaniye</option>
                                            <option value="81">Düzce</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Doğum Tarihi</label>
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                            </span>
                                            <input id="date" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Vatandaşlık Numarası</label>
                                        <input id="inputFirstName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">SGK Numarası</label>
                                        <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Askerlik Durumu</label>
                                        <select data-plugin-selectTwo class="form-control populate">
                                            <option value="yapildi">Yapıldı</option>
                                            <option value="yapilmadi">Yapılmadı</option>
                                            <option value="muaf">Muaf</option>
                                            <option value="tecilli">Tecilli</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Medeni Hal</label>
                                        <select data-plugin-selectTwo class="form-control populate">
                                            <option value="bekar">Bekar</option>
                                            <option value="evli">Evli</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Telefon</label>
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </span>
                                            <input id="phone" data-plugin-masked-input data-input-mask="(999) 999-9999" placeholder="(123) 123-1234" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 row mr-auto p-0 m-0">
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <label for="inputLastName">Araç</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Var</option>
                                                <option value="HI">Yok</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-8">
                                            <label for="inputLastName">Plaka</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 row ml-auto p-0 m-0">
                                        <div class="col-lg-6 mb-3 mb-lg-0">
                                            <label for="inputLastName">Yakını Ad</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="inputLastName">Yakını Soyad</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Yakını Telefon</label>
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </span>
                                            <input id="phone" data-plugin-masked-input data-input-mask="(999) 999-9999" placeholder="(123) 123-1234" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-12 col-xl-10 ml-auto mr-auto">
                                        <label for="inputFirstName">Adres</label>
                                        <textarea class="form-control" rows="3" data-plugin-maxlength maxlength="140"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-briefcase"></i>
                                <h2 class="card-big-info-title">İş Bilgileri</h2>
                                @*<p class="card-big-info-desc">Add here the customer shipping info with all details and necessary information.</p>*@
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <!-- <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Same as billing</label>
                                <div class="col-lg-7 col-xl-6">
                                    <div class="checkbox">
                                        <label class="my-2">
                                            <input name="customerShippingSameAsBilling" type="checkbox" value="" data-toggle="collapse" data-target=".shipping-fields-wrapper">
                                            Check this box to use same information as billing for shipping.
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Firma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Kadro</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Sorumluluk Merkezi</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">S-Mak</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Amir</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Selim SELİMOĞLU</option>                                               
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Pozisyon</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yazılım</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Başlangıç Tarihi</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                </span>
                                                <input id="date" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Maaş</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-edit-alt"></i>
                                <h2 class="card-big-info-title">Dil Bilgisi</h2>
                                @*<p class="card-big-info-desc">Add here the customer shipping info with all details and necessary information.</p>*@
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <!-- <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Same as billing</label>
                                <div class="col-lg-7 col-xl-6">
                                    <div class="checkbox">
                                        <label class="my-2">
                                            <input name="customerShippingSameAsBilling" type="checkbox" value="" data-toggle="collapse" data-target=".shipping-fields-wrapper">
                                            Check this box to use same information as billing for shipping.
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-1">
                                            <label for="inputFirstName">İngilizce Konuşma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 mb-3 mb-lg-0">
                                            <label for="inputLastName">İngilizce Yazma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputLastName">İngilizce Okuma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-1">
                                            <label for="inputFirstName">Almanca Konuşma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 mb-3 mb-lg-0">
                                            <label for="inputLastName">Almanca Yazma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputLastName">Almanca Okuma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-1">
                                            <label for="inputFirstName">Fransızca Konuşma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 mb-3 mb-lg-0">
                                            <label for="inputLastName">Fransızca Yazma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputLastName">Fransızca Okuma</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="AK">Başlangıç</option>
                                                <option value="AK">Orta</option>
                                                <option value="AK">İyi</option>
                                                <option value="AK">Çok İyi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-9 col-xl-9 offset-lg-1">
                                            <label for="inputFirstName">Diğer</label>
                                            <textarea class="form-control" rows="3" data-plugin-maxlength maxlength="140"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-book-alt"></i>
                                <h2 class="card-big-info-title">Eğitim Bilgileri</h2>
                                @*<p class="card-big-info-desc">Add here the customer shipping info with all details and necessary information.</p>*@
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <!-- <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Same as billing</label>
                                <div class="col-lg-7 col-xl-6">
                                    <div class="checkbox">
                                        <label class="my-2">
                                            <input name="customerShippingSameAsBilling" type="checkbox" value="" data-toggle="collapse" data-target=".shipping-fields-wrapper">
                                            Check this box to use same information as billing for shipping.
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-12 col-xl-10 ml-auto mr-auto">
                                            <label for="inputFirstName">Okul Adı</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-12 col-xl-10 ml-auto mr-auto">
                                            <label for="inputFirstName">Bölümü</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Mezuniyet Tarihi</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                </span>
                                                <input id="date" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Not Ortalaması</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-message-alt-detail"></i>
                                <h2 class="card-big-info-title">Diğer Bilgiler</h2>
                                @*<p class="card-big-info-desc">Add here the customer shipping info with all details and necessary information.</p>*@
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <!-- <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Same as billing</label>
                                <div class="col-lg-7 col-xl-6">
                                    <div class="checkbox">
                                        <label class="my-2">
                                            <input name="customerShippingSameAsBilling" type="checkbox" value="" data-toggle="collapse" data-target=".shipping-fields-wrapper">
                                            Check this box to use same information as billing for shipping.
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Geçirmiş olduğunuz önemli hastalıklar var mı?</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Sağlık durumunuzda belirtmeniz gereken özel bir durum var mı?</label>
                                            <input id="inputLastName" type="text" class="form-control" name="customerBillingFirstName" value="" required />
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Otomobil ehliyetiniz var mı?</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Yok</option>
                                                <option value="HI">Var</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Mesaiye kalır mısınız?</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Kalmam</option>
                                                <option value="HI">Kalırım</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Sigara içiyor musunuz?</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Hayır</option>
                                                <option value="HI">Evet</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Alkol kullanıyor musunuz?</label>
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <option value="AK">Hayır</option>
                                                <option value="HI">Evet</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row action-buttons">
            <div class="col-12 col-md-auto">
                <button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                    <i class="bx bx-save text-4 mr-2"></i> Kaydet
                </button>
            </div>
            <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                <a href="ecommerce-customers-list.html" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">İptal</a>
            </div>
            @*<div class="col-12 col-md-auto ml-md-auto mt-3 mt-md-0">
                <a href="#" class="cancel-button btn btn-light btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                    <i class="bx bx-trash text-4 mr-2"></i> İptal
                </a>
            </div>*@
        </div>
    </form>