@using zeynerp.Entities.HumanResource
@using zeynerp.BL
@model Personnel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Personel Ekle</h2>

        <div class="right-wrapper text-right pr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/panel">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>İnsan Kaynakları</span></li>
                <li><a href="/insan-kaynaklari/personel-listesi"><span>Personel Listesi</span></a></li>
                <li><span>Personel Ekle</span></li>
            </ol>
        </div>
    </header>

    @*<form class="ecommerce-form action-buttons-fixed" action="#" method="post">*@
    @using (Html.BeginForm("PersonnelAdd", "HumanResource", FormMethod.Post, new { @class = "action-buttons-fixed" }))
    {
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <div class="thumb-info mb-3">
                                    <img src="~/Assets/img/!logged-user.jpg" class="rounded img-fluid" alt="John Doe">
                                    <div class="thumb-info-edit">
                                        <label for="file-input">
                                            <i class="el el-edit"></i>
                                        </label>
                                        <input id="file-input" type="file" name="imageFile" onchange="this.form.submit()" style="display: none;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="form-group row align-items-center">
                                    <!-- <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">First Name</label> -->
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Ad</label>
                                        @Html.TextBoxFor(x => x.Name, new { id = "inputFirstName", @class = "form-control", type = "text", required = "required", value = Model.Name })
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Soyad</label>
                                        @Html.TextBoxFor(x => x.Surname, new { id = "inputLastName", @class = "form-control", type = "text", required = "required", value = Model.Surname })
                                    </div>
                                </div>            
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row action-buttons">
            <div class="col-12 col-md-auto">
                <button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                    <i class="bx bx-save text-4 mr-2"></i> Kaydet
                </button>
            </div>
            <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                <a href="ecommerce-customers-list.html" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">İptal</a>
            </div>
        </div>
    }
    <script>
        document.getElementsByTagName("select")[0].setAttribute("data-plugin-selectTwo", "");

        document.getElementById("date").setAttribute("data-plugin-masked-input", "");
        document.getElementById("date").setAttribute("data-input-mask", "99/99/9999");

        var inputPhoneArr = document.getElementsByClassName("input-phone");
        for (var i = 0; i < inputPhoneArr.length; i++) {
            inputPhoneArr[i].setAttribute("data-plugin-masked-input", "");
            inputPhoneArr[i].setAttribute("data-input-mask", "(999) 999-9999");
        }
    </script>
